<% @blog_post.comments.each do |comment| %>

  <h4><%= link_to comment.user.username, user_posts_path(name: comment.user.username) %></h4>
  <p><%= time_ago_in_words(comment.created_at) %> ago!</p>
  <p><%= comment.comment_entry %></p>

  <% if (current_user.id == comment.user_id) || @blog_post.user_id %>
    <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-warning" %>
    <%= link_to "Destroy", comment_path(comment), method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-danger" %>
  <% end %>
<% end %>
