<h1>Welcome <%= current_user.username %></h1>

<% @blog_posts.each do |blog_post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to blog_post.title, blog_post_path(blog_post) %>
    </div>
    <div class="panel-body">
      by <%= link_to blog_post.user.username, user_posts_path(name: blog_post.user.username) %><br>
        <p><%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></p>
          <%# NOTE: time_ago_in_words is built into ruby%>
        <p>
          <% if blog_post.blog_entry.length >= 150%>
            <%= blog_post.blog_entry[0..150].html_safe %>
            <%= link_to 'read more', blog_post_path(blog_post) %>
          <% else %>
            <%= blog_post.blog_entry %>
          <% end %>
        </p>
    </div>
    <div class="panel-footer">
      <!-- <%= link_to "Show", blog_post_path(blog_post), class: "btn btn-info" %> -->

      <% if current_user.id == blog_post.user_id %>
        <%= link_to "Edit", edit_blog_post_path(blog_post), class: "btn btn-warning" %>
        <%= link_to "Destroy", blog_post_path(blog_post), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate @blog_posts %>
